<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <style type="text/css">
        table {
            border-collapse: collapse;
            font-size: 14px;
            width: 80%;
            margin: auto;
        }
        table,th,td {
            border: 1px solid darkslategray;
            padding: 10px;
        }
    </style>
</head>
<body>
<div style="text-align: center">
    <span style="color: darkslategray;font-size: 30px">汉东省人物志</span>
    <hr/>
    <table>
        <tr>
            <th>ID</th>
            <th>姓名</th>
            <th>密码</th>
        </tr>
        <tr th:each="user : ${userList}">
            <th th:text="${user.id}"></th>
            <th th:text="${user.userName}"></th>
            <th th:text="${user.password}"></th>
        </tr>
    </table>
</div>

</body>
</html>